.message-text.svelte-itidh2{font-size:15vh}
main.svelte-ojrhjv{text-align:center;padding:1em;width:100%;height:100%;padding:0;margin:0;background-color:black}.top-left.svelte-ojrhjv{position:fixed;top:0;left:0}
